.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 9lvh;

    background-color: rgb(2, 144, 226);
}
.ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40;
    
}
