.profilecontainer{
    display: flex;
    justify-content: center;
    border-radius: 20px;
   margin: 20px auto;
    flex-direction: column;
    background-color: rgb(26, 110, 82);
    text-align: center;
    justify-content: center;
    gap: 20;
    margin-top: 10px;
    
    padding-top: 30px;
    padding-left: 20px;
    width: 50vw;
    height: 70lvh;
 
}
.P{
    font-size: 30px;
    color: rgb(250, 132, 21);
    font-weight: 800;
}
.data{
    display: grid;
   grid-template-columns: repeat(2,1fr);
   width: 70%;
   padding-left: 90px;
    gap: 15px;
    color: beige;

}
.update{
    display: flex;
    justify-content: center;
    gap: 30;
}
.b1{
    color: white;
    background-color: rgb(144, 151, 41);
    width: 150px;
    height: 40px;
    border-radius:20px;

    
}
.b1:hover{
    cursor: pointer;
    background-color: blue;
}